<div id="alert" class="text-center <%= alert.present? ? 'alert alert-warning' : ''%>" role="alert"><%= alert %></div>
<div class="text-center <%= notice.present? ? 'alert alert-success' : ''%>" role="alert"><%= notice %></div>
<% if resource.errors.any? %>
    <div class="alert alert-warning text-center" role="alert">
      Coudn't change password.
    </div>
<% end %>

<section class="pt-5 pb-3 d-flex justify-content-center">
  <div>
    <div class="card position-relative" style="width: 25rem;">
      <div class="card-body">
        <h3 class="card-title text-center pb-2 text-primary">Change your password</h3>
        <hr>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <% if resource.errors.any? %>
                <div id="error_explanation" class="alert alert-warning text-center" role="alert">
                  <p>Please correct <%= pluralize(resource.errors.count, "error") %>:</p>

                  <ul class="text-left pl-5">
                    <% resource.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
          <%= f.hidden_field :reset_password_token %>

          <div class="field form-group <%= (resource.errors.include? :password) ? 'has-errors alert alert-danger' : '' %>">
            <%= f.label :password, "New password" %>
            <% if @minimum_password_length %>
              <small class="form-text">(<%= @minimum_password_length %> characters minimum)</small>
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control" %>
          </div>

          <div class="field form-group <%= (resource.errors.include? :password_confirmation) ? 'has-errors alert alert-danger' : '' %>">
            <%= f.label :password_confirmation, "Confirm new password" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
          </div>

          <div class="actions text-center">
            <%= f.submit "Change my password", :class => "btn btn-lg btn-secondary" %>
          </div>
        <% end %>
        <nav class="nav justify-content-center mt-4">
          <%= link_to "Sign in", new_session_path(resource_name), :class => "item nav-link border-right" %>
          <%= link_to "Sign up", new_registration_path(resource_name), :class => "item nav-link"%>
        </nav>
      </div>
    </div>
    <nav class="nav justify-content-center mt-5">
      <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
          <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
      <% end -%>
    </nav>
  </div>
</section>
