<div id="notice" class="<%= notice.present? ? 'alert alert-success' : ''%>" role="alert"><%= notice %></div>
<% if @activity.errors.any? %>
    <div class="alert alert-warning text-center" role="alert">
      Coudn't save activity.
    </div>
<% end %>
<section class="py-5 d-flex justify-content-center">
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <h3 class="card-title text-center pb-2">Editing Activity</h3>

      <%= render 'form', activity: @activity %>

      <nav class="nav justify-content-center">
        <%= link_to 'Show', @activity, :class => "item nav-link border-right" %>
        <%= link_to 'View All', activities_path(:weeks_ago => date_to_weeks_ago(@activity.activity_date)), :class => "nav-item nav-link" %>
        <%= link_to 'Delete', @activity, method: :delete, data: { confirm: 'Are you sure?' }, :class => "item nav-link border-left"%>
      </nav>
    </div>
  </div>
</section>

